<h1>Demo Angular</h1>
<hr />
<h3>Navigator</h3>
<!-- <app-firstcomponent></app-firstcomponent> -->
<!--<app-emplist></app-emplist> -->

<nav style="background-color: cyan">
  <a routerLink="home"> Home </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="firstcomponent"> FirstComponent </a
  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="emplist"> Employee List </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="movieadd"> Movie Add</a>&nbsp;&nbsp;&nbsp;&nbsp;
</nav>

<hr />

<router-outlet></router-outlet>
