<ul *ngFor="let day of weekdays">
  <li>{{ day }}</li>
</ul>
<hr />
<hr />
<hr />
<ng-container *ngIf="age > 30; else elseTemplate">
  <h4>"Eligible"</h4>
</ng-container>
<ng-template #elseTemplate>
  <h4>Not Eligible</h4>
</ng-template>

<ul *ngFor="let day of weekdays">
  <ng-container *ngIf="day == 'sunday' || day == 'saturday'; else elseTemplate">
    <li style="color: red">{{ day }} - It's a weekend</li>
  </ng-container>

  <ng-template #elseTemplate>
    <li style="color: blue">{{ day }}</li>
  </ng-template>
</ul>
<hr />
<hr />
<hr />
<h2>Total Salary of all employees are : {{ getTotal() }}</h2>
<hr />
<hr />
<h2>Employee Listing</h2>
<hr />
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Salary</td>
      <td>Department</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of emps">
      <td>{{ emp.id }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.salary }}</td>
      <td>{{ emp.dept }}</td>
    </tr>
  </tbody>
</table>
<p>Total Salary of Employees = {{ getTotal() }}</p>
<hr />
